* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.main {
  width: 70%;
  height: 100%;
  background-color: #0d1117;
  margin: auto;

  .navbar {
    padding: 0 2rem;
    width: 100%;
    background-color: #0a0d12;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 1rem 1rem;

    .navbar-left {
      display: flex;
      align-items: center;

      i {
        font-size: 2rem;
        color: white;
      }

      h5 {
        font-size: 1.5rem;
        color: white;
      }
    }

    form {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;

      .inp-text {
        padding: 0 2rem;
        width: 90%;
        font-size: 1.5rem;
        margin: 0.8rem 0;
        background-color: #0d1117;
        border: 1px solid gray;
        border-radius: 1rem;
        color: white;
      }

      .submit {
        background-color: #1f6feb;
        border: none;
        color: white;
        margin: 0.7rem 0;
        padding: 0.5rem 0.5rem;
        border-radius: 1rem;
      }

      .remove-btn {
        font-size: 0.6rem;
        background-color: #56d364;
        border: none;
        color: white;
        margin: 0.7rem 0;
        padding: 0.5rem 0.5rem;
        border-radius: 1rem;
      }

      .submit:active {
        scale: 0.95;
      }

      .remove-btn:active {
        scale: 0.95;
      }
    }
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    .card {
      margin: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-evenly;
      height: 10rem;
      width: 30rem;
      border-radius: 2rem;
      background-color: #010409;
      border: 1px solid white;
      color: white;

      .image-container {
        height: 7rem;
        width: 7rem;
        background-color: #1f6feb;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .info-cont {
        text-align: left;

        h3 {
          font-size: smaller;
          font-weight: 100;
          opacity: 0.6;
        }

        h1 {
          font-size: medium;
          text-transform: uppercase;
          font-weight: 400;
        }

        p {
          font-size: smaller;
          opacity: 0.6;
        }

        h4 {
          font-size: small;
          font-weight: 100;
          opacity: 0.5;
        }

        h5 {
          a {
            text-decoration: none;
            color: white;
            font-size: x-small;
            font-weight: 100;
            color: #56d364;
          }
        }

        .card-remove-btn {
          margin: 1rem;
          border: none;
          padding: 0.4rem 0.5rem;
          background-color: #1f6feb;
          border-radius: 2rem;
        }

        .card-remove-btn:active {
          scale: 0.9;
        }
      }
    }
  }
}

//----------------------------------------------
@media (max-width: 700px) {
  .main {
    width: 100%;
    margin: 0;
    .navbar {
      flex-wrap: wrap;
      padding: 0.2rem 0.8rem;

      .navbar-left {
        i {
          font-size: 2rem;
        }

        h5 {
          font-size: 1rem;
        }
      }

      form {
        gap: 0.5rem;

        .inp-text {
          padding: 0 2rem;
          width: 90%;
          font-size: 1rem;
          margin: 0.8rem 0;
        }
      }
    }

    .container {
      .card {
      }
    }
  }
}

@media (max-width: 500px) {
  .main {
    width: 100%;
    margin: 0;
    .navbar {
      flex-wrap: wrap;
      padding: 0.2rem 0.8rem;
      gap: 0.2rem;

      .navbar-left {
        i {
          font-size: 2rem;
        }

        h5 {
          font-size: 1rem;
        }
      }

      form {
        gap: 0.5rem;

        .inp-text {
          padding: 0 2rem;
          width: 60%;
          font-size: 1rem;
          margin: 0.8rem 0;
        }
      }
    }

    .container {
      .card {
        width: 80%;

        .image-container {
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .main {
    width: 100%;

    .navbar {
      flex-wrap: wrap;
      padding: 0.2rem 0.8rem;
      gap: 0.2rem;

      .navbar-left {
        i {
          font-size: 2rem;
        }

        h5 {
          font-size: 1rem;
        }
      }

      form {
        gap: 0.5remrem;
      }
    }

    .container {
      .card {
        height: 12rem;
        width: 90%;
        margin: 0.9rem;
        .image-container {
          height: 4rem;
          width: 4rem;
        }

        .info-cont{
          h3{
            font-size: 0.8rem;
          }
          h1{
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
